.article-list
  list-style none
  padding 0
.article-item
  overflow hidden
  border-bottom 1px solid #ccc
  .content
    word-wrap break-word
.time
  font-weight normal
  font-size 12px
  margin-left 10px