body
  margin 0
  font-family: 'Cormorant Bold', 'Garamond', 'Georgia', 'Times New Roman', serif;
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

code
  font-family source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.modal-wrapper
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 1
  background rgba(black, 0.7)