.login-modal
  position relative
  top 200px
  margin 0 auto
  padding 20px
  width 400px
  border-radius 4px
  background white
  text-align center

.form-item
  margin 20px 0
  text-align center
  label
    display inline-block
    min-width 80px
    text-align left

.modal-footer
  text-align center
  margin-top 20px
.btn-text
  border 0
  background transparent
  cursor pointer
  text-decoration underline